html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    text-align: center;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.body-index {
    background: #874C62;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F2D388, #C98474, #874C62);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F2D388, #C98474, #874C62);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F2D388, #C98474, #874C62);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F2D388, #C98474, #874C62);
    /* Standard syntax (must be last) */
}

strong {
    font-weight: 500;
}

a,
a:hover,
a:focus {
    color: #A7D2CB;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #fff;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}

img {
    max-width: 100%;
}

::-moz-selection {
    background: #A7D2CB;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #A7D2CB;
    color: #fff;
    text-shadow: none;
}

.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 16px 20px 0 20px;
    background: #A7D2CB;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn-link-1:hover,
.btn-link-1:focus,
.btn-link-1:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
}

.btn-link-1 i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
}


/***** Top content *****/

.inner-bg {
    padding: 20px 0 40px 0;
}

.top-content .text {
    color: #fff;
}

.top-content .text h1 {
    color: #fff;
}

.top-content .description {
    margin: 10px 0 5px 0;
}

.top-content .description p {
    opacity: 0.8;
}

.top-content .description a {
    color: #fff;
}

.top-content .description a:hover,
.top-content .description a:focus {
    border-bottom: 1px dotted #fff;
}

.form-box {
    margin-top: 20px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 10px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 20px;
}

.form-top-left h3 {
    margin-top: 0;
    color: #fff;
}

.form-top-left p {
    opacity: 0.8;
    color: #fff;
}

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #fff;
    line-height: 100px;
    text-align: right;
    opacity: 0.3;
}

.form-bottom {
    padding: 20px 25px 25px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form button.btn {
    width: 100%;
}

.form-bottom form .input-error {
    border-color: #A7D2CB;
}

.middle-border {
    min-height: 300px;
    margin-top: 140px;
    border-right: 1px solid #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}


/***** Footer *****/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    color: #fff;
}

footer .footer-border {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

footer p {
    opacity: 0.8;
}

footer a {
    color: #fff;
}

footer a:hover,
footer a:focus {
    color: #fff;
    border-bottom: 1px dotted #fff;
}


/***** Navbar *****/

.navbar-header > .active > a,
.navbar-header > .active > a:hover,
.navbar-header > .active > a:focus {
    color: white;
    /*BACKGROUND color for active*/
    background: #444;
    background: rgba(0, 0, 0, 0.35);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #444;
    /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    /*BACKGROUND color for active*/
    background: #444;
    background: rgba(0, 0, 0, 0.35);
}

.navbar-default {
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    padding: 0 10px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;
    /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: silver;
    /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
    color: white;
    /*Change active text color here*/
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: #444;
    background: rgba(0, 0, 0, 0.35);
}


/***** Profil *****/

.body-profil {
    background: #874C62;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F2D388, #C98474, #874C62);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F2D388, #C98474, #874C62);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F2D388, #C98474, #874C62);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F2D388, #C98474, #874C62);
    /* Standard syntax (must be last) */
    padding-top: 65px;
    overflow: hidden;
}

.icons {
  width: 100%;
  padding-top: 5px;
  font-size: 100px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  opacity: 0.3;
}

.icons i {
  margin: 20px;
}

.buttonprofil {
  width: 70%;
  margin: auto;
  text-align: center;
  height: 50px;
  text-align: center;
  margin-top: 30px
}
.buttonprofil button{
  font-size: 30px;
  width: 300px;
  height: 100%;

}


/***** Einstellungen *****/

.modal-popup {
    margin-top: 320px;
    padding: 20px 25px 25px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    text-align: left;
}

.modal-popup button {
    margin-right: 20px;
}

.content-box {
    margin-top: 20px;
    padding: 20px 25px 25px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    text-align: left;
}

.edit-button {
    width: 100%;
    text-align: right;
}

.edit-button button {
    margin-left: 20px;
}


/***** Fragebogen *****/

.question-box {
    margin-top: 20px;
}

.question-top {
    overflow: hidden;
    padding: 0 25px 10px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.35);
    text-align: left;
}

.question-top .question {
    text-align: center;
}

.question-top-left {
    float: left;
    width: 75%;
    padding-top: 20px;
}

.question-top-left h3 {
    margin-top: 0;
    color: #fff;
}

.question-top-left p {
    opacity: 0.8;
    color: #fff;
}

.question-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #fff;
    line-height: 100px;
    text-align: right;
    opacity: 0.3;
}

.question-bottom {
    padding: 20px 25px 25px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    text-align: left;
}

.question-button {
  width: 100%;
  text-align: right;
}

.question-button button {
    margin-left: 20px;
}


/***** resultate *****/
.body-resultate {
    background: #874C62;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F2D388, #C98474, #874C62);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F2D388, #C98474, #874C62);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F2D388, #C98474, #874C62);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F2D388, #C98474, #874C62);
    /* Standard syntax (must be last) */
    padding-top: 65px;
}

.resultate-box {
    margin-top: 20px;
    padding: 25px 25px 25px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    text-align: left;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
    .middle-border {
        min-height: auto;
        margin: 65px 30px 40px 30px;
        border-right: 0;
        border-top: 1px solid #fff;
        border-top: 1px solid rgba(255, 255, 255, 0.6);
    }
}

@media (max-width: 415px) {
    h1,
    h2 {
        font-size: 32px;
    }
}
